.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 243, 239);
}

.header img {
  height: 300px;
  padding-bottom: 20px;
}

/* .bg-img-container {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
} */

.bg-img {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.top-info {
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: rgba(211, 211, 211, 0.529);
}

.transparent-bg {
}

.title {
  font-family: "Caudex", serif;
  font-weight: 900;
  font-size: 10rem;

  margin-top: 7rem;
  margin-left: 1.25rem;
  margin-bottom: 2.5rem;
}

/* .sub-title-container {
  background-color: rgba(211, 211, 211, 0.529);
  width: 40%;
} */

.sub-title {
  font-family: "Caudex", serif;
  font-weight: 500;
  font-size: 7rem;
  /* color: #b7bccc; */
  margin: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-info {
  /* font-family: "Lato", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-top: 3rem;
  margin-left: 35px;
  margin-bottom: 26px;
}

.sub-info2 {
  /* font-family: "Lato", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-top: 26px;
  margin-left: 35px;
  margin-bottom: 5rem;
}

.register {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-left: 40px;
  margin-bottom: 0;
}

/* .host-section {
  background-color: white;
  margin-top: 500px;
  margin-bottom: 0;
  display: flex;
} */

/* .host-section p {
  font-size: 100px;
  display: flex;
  align-items: center;
  background-color: #14b8fc;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
} */

.about-section {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  margin-top: 300px;
  /* margin-bottom: 0; */
  background-color: white;
}

.about-section p {
  display: grid;
  align-items: center;
  margin-top: -150px;
  margin-right: 100px;
  margin-left: -40px;
  font-size: 45px;
}

.about-img {
  z-index: 1;
  height: 900px;
  margin-top: -150px;
  border: 50px solid white;
  display: flex;
  justify-self: center;
}

.ig-feed {
  margin-top: 0;
  /* margin-bottom: 200px; */
  background-color: #01508b;
}

.profile {
  margin-left: 70px;
  padding-top: 250px;
  padding-bottom: 200px;
}

.host-img {
  margin: 100px;
  height: 650px;
}

.logo-img {
  height: 650px;
}

.sponsors-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors-content {
  background-color: #f1cb03;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 75px;
  font-weight: 550;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sponsors-img {
  width: 2500px;
  margin-bottom: 0;
}

footer {
  background-color: #01508b;
  height: 300px;
}
