#root {
  overflow-x: hidden;
}

.bg-img {
  background-image: url("/BoyFishing3.jpg");
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.top-info {
  margin-left: 1rem;
  margin-right: 1rem;
}

.transparent-bg {
  z-index: 0;
  position: relative;
  background-color: rgba(222, 221, 221, 0.529);
}

.title {
  font-family: "Caudex", serif;
  font-weight: 900;
  font-size: 4.5rem;
  color: #053e43;
  margin-top: 1rem;
  margin-left: 7px;
  margin-bottom: 1.5rem;
}

.sub-title {
  font-family: "Caudex", serif;
  font-weight: 525;
  font-size: 2.5rem;
  color: #08585f;
  margin: 12px;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

.sub-info {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px #08585f, 0 0 1em #08585f, 0 0 0.2em #08585f;
  margin-top: 2.2rem;
  margin-left: 12px;
  margin-bottom: 2.5rem;
}

.register {
  color: #ed5b04;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.2em white;
  font-size: 1.5rem;
  margin-left: 12px;
  margin-bottom: 0;
}

.about-section {
  z-index: 0;
  display: grid;
  margin-top: 100px;
  padding-bottom: 0;
  background-color: white;
}

.about-section p {
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.about-img {
  width: 100%;
  height: auto;
  margin-top: 0;
  border: 30px solid white;
}

.ig-feed-section {
  background-color: #01508b;
  overflow: hidden;
}

.stay-updated-text {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-family: "Caudex", serif;
  font-weight: 600;
  color: #ed5b04;
  display: flex;
  justify-content: center;
}

.ig-feed-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  padding: 20px;
  width: 100%;
}

.logo-host-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* z-index: 3; */
  background-color: #f4f3ef;
  padding: 10px;
}

.host-img {
  margin-top: 10px;
  height: 7rem;
  width: auto;
}

.logo-img {
  /* z-index: 1; */
  width: 7rem;
  height: auto;
  /* margin-top: -20rem; */
  /* position: relative; */
}

.sponsors-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 0; */
}

.sponsors-text {
  font-family: "Caudex", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #ed5b04;
  margin: 10px;
}

.sponsors-img {
  width: 90%;
  margin-bottom: 1rem;
  border: #08585f double 5px;
}

footer {
  background-color: #01508b;
  position: relative;
  z-index: 0;
  padding: 1rem;
}

.footer-content {
  border: white double 4px;
  /* color: white; */
  font-family: "Caudex", sans-serif;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.address-block {
  margin-left: -6rem;
  margin-bottom: -20px;
  margin-top: -15px;
}

.links-block {
  margin-top: -25px;
}

.register-block {
  margin-top: -15px;
}

.map-icon {
  font-size: 2.5rem;
  color: white;
}

.icon-text p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ig-block a,
.email-block a,
.address-block a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon {
  color: white;
  font-size: 2rem;
}

.icon-text {
  font-size: 1.1rem;
  color: white;
  margin-left: 1.5rem;
  margin-bottom: 15px;
  margin-top: 12px;
}

/*desktop view*/
@media (min-width: 768px) {
  .bg-img {
    background-image: url("/BoyFishing4.jpg");
  }

  .top-info {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .title {
    font-size: 6rem;
    margin-top: 3.5rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
  }

  .sub-title {
    font-size: 4rem;
    margin: 26px;
    margin-top: 15px;
  }

  .sub-info {
    font-size: 1.75rem;
    margin: 26px;
  }

  .register {
    font-size: 1.75rem;
    margin-left: 26px;
    margin-bottom: 0;
  }

  .about-section {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin-top: 150px;
    margin-bottom: 0;
  }

  .about-section p {
    text-align: left;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-size: 18px;
  }

  .about-img {
    width: 26rem;
    height: auto;
    margin-top: -80px;
  }

  .stay-updated-text {
    margin-top: 20px;
    margin-left: 27rem;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
  }

  .logo-host-container {
    padding: 0.5rem;
    gap: 4rem;
  }

  .host-img {
    height: 15rem;
  }

  .logo-img {
    width: 15rem;
  }

  .sponsors-text {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* z-index: 3; */
  }

  .sponsors-img {
    margin-bottom: 3rem;
    border: #08585f double 10px;
  }

  footer {
    padding: 2rem;
  }

  .footer-content {
    border: white double 5px;
    grid-template-rows: repeat(1, 1fr);
    /* grid-template-rows: 1fr; */
  }

  .address-block {
    margin: 0;
    margin-right: 5rem;
    margin-bottom: -1rem;
  }

  .links-block {
    margin: 0;
    margin-left: 3rem;
  }

  .register-block {
    margin: 0;
  }

  .map-icon {
    font-size: 3rem;
  }

  /* .icon-text p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  } */

  .icon {
    font-size: 2rem;
  }

  .icon-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .bg-img {
    background-image: url("/BoyFishing2.jpg");
  }

  .top-info {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .title {
    font-size: 6rem;
    margin-top: 3.5rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
  }

  .sub-title {
    font-size: 4rem;
    /* color: #007190; */
    /* color: #b7bccc; */
    margin: 26px;
    margin-top: 15px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
  }

  .sub-info {
    font-size: 1.75rem;
    margin: 26px;
    /* margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 26px; */
  }

  /* .sub-info2 {
    font-size: 3rem;
    margin-top: 26px;
    margin-left: 35px;
    margin-bottom: 5rem;
  } */

  .register {
    font-size: 1.25rem;
    margin-left: 26px;
    margin-bottom: 0;
  }

  .about-section {
    z-index: 0;
    height: 375px;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin-top: 150px;
    margin-bottom: 0;
  }

  .about-section p {
    display: grid;
    align-items: center;
    text-align: left;
    margin-top: -70px;
    margin-right: 1rem;
    margin-left: 0;
    font-size: 20px;
    /* text-align: start; */
  }

  .about-img {
    /* z-index: 1; */
    /* height: 950px; */
    width: 26rem;
    height: auto;
    margin-top: -80px;
    border: 30px solid white;
    display: flex;
    justify-self: center;
  }

  .ig-feed-section {
    background-image: url("./images/Bg3.jpg");
    background-size: cover;
  }

  .stay-updated-text {
    margin: 20px;
    margin-left: 15rem;
    font-size: 3rem;
    font-weight: 700;
  }

  .ig-feed-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .profile {
    padding-top: 7px;
    width: 600px;
    height: auto;
    padding-bottom: 130px;
  }

  .logo-host-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    /* background-color: #f4f3ef; */
    background-color: white;
  }

  .host-img {
    margin-top: -2rem;
    height: 18rem;
  }

  .logo-img {
    z-index: 1;
    width: 18rem;
    height: auto;
    margin-bottom: 0;
    /* position: relative; */
  }

  .sponsors-section {
    margin-top: -100px;
  }

  .sponsors-text {
    font-size: 3rem;
    font-weight: 700;
    /* text-decoration: underline; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: -10rem;
    z-index: 3;
  }

  .sponsors-img {
    width: 80%;
    margin-bottom: 3rem;
    border: #08585f double 10px;
    /* border: #ed5b04 double 10px; */
  }

  footer {
    padding: 2rem;
  }

  .footer-content {
    border: white double 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .address-block {
    margin: 0;
  }

  .links-block {
    margin: 0;
  }

  .register-block {
    margin: 0;
    margin-left: 0.5rem;
  }

  .map-icon {
    font-size: 3rem;
  }

  .icon-text p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .icon {
    font-size: 2rem;
  }

  .icon-text {
    font-size: 1.5rem;
  }

  .swiper-section {
    background-color: rgba(255, 255, 255, 0.581);
  }
}

@media (min-width: 1370px) {
  .about-section p {
    display: grid;
    align-items: center;
    margin-top: -70px;
    margin-right: 100px;
    margin-left: -30px;
    font-size: 23px;
    /* text-align: start; */
  }

  .stay-updated-text {
    margin: 20px;
    margin-left: 7rem;
    font-size: 4rem;
    font-weight: 700;
  }

  .ig-feed-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
  }

  .profile {
    padding-top: 7px;
    width: 600px;
    height: auto;
    padding-bottom: 130px;
  }

  .logo-host-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    /* background-color: #f4f3ef; */
    background-color: white;
  }

  .host-img {
    margin-top: -5rem;
    height: 20rem;
  }

  .logo-img {
    z-index: 1;
    width: 20rem;
    height: auto;
    margin-bottom: 0;
    /* position: relative; */
  }

  .sponsors-section {
    margin-top: -100px;
  }

  .sponsors-text {
    font-size: 4rem;
    font-weight: 700;
    /* text-decoration: underline; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -10rem;
    z-index: 3;
  }

  .sponsors-img {
    width: 80%;
    margin-bottom: 3rem;
    border: #08585f double 10px;
    /* border: #ed5b04 double 10px; */
  }

  footer {
    padding: 2rem;
  }

  .footer-content {
    border: white double 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .address-block {
    margin: 0;
  }

  .links-block {
    margin: 0;
  }

  .register-block {
    margin: 0;
  }

  .map-icon {
    font-size: 3rem;
  }

  .icon-text p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .icon {
    font-size: 2rem;
  }

  .icon-text {
    font-size: 1.5rem;
  }

  .swiper-section {
    background-color: rgba(255, 255, 255, 0.581);
  }
}

/* @media (min-width: 1024px) {
  .about-section p {
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .stay-updated-text {
    margin: 1rem;
    margin-bottom: 0;
    margin-left: 20rem;
    font-size: 3.5rem;
  }

  .ig-feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .profile {
    display: flex;
    align-self: center;
    padding: 20px;
    width: 100%;
    height: 950px;
  }

  .logo-host-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 3;
    background-color: #f4f3ef;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .host-img {

    margin-top: 10px;
    height: 7rem;
    width: auto;
  }

  .logo-img {
    z-index: 1;
    width: 7rem;
    height: auto;
   
    position: relative;
  }

  .sponsors-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  .sponsors-text {
    font-family: "Caudex", serif;
    font-size: 2.5rem;
    font-weight: 600;
    
    color: #ed5b04;
    margin: 10px;
  }

  .sponsors-img {
    width: 90%;
    margin-bottom: 1rem;
    border: #08585f double 5px;
 
  }
} */
